
# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/Plugins/DOTween/DOTween.dll.meta
Assets/Plugins/DOTween/DOTween43.dll.meta
Assets/Plugins/DOTween/DOTween46.dll.meta
Assets/Plugins/DOTween/DOTween50.dll.meta
Assets/Plugins/DOTween/Editor/DOTweenEditor.dll.meta
Assets/Plugins/DOTween/Editor/DOTweenEditor.pdb.meta
ProjectSettings/ClusterInputManager.asset
ProjectSettings/UnityConnectSettings.asset
