
# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

#=============#
# VillaVanilla#
#=============#
Administrativos/*
LocalBuilds/*

#=============#
# Protobuf#
#=============#
CustomSerialization/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/Plugins/DOTween/DOTween.dll.meta
Assets/Plugins/DOTween/DOTween43.dll.meta
Assets/Plugins/DOTween/DOTween46.dll.meta
Assets/Plugins/DOTween/DOTween50.dll.meta
Assets/Plugins/DOTween/Editor/DOTweenEditor.dll.meta
Assets/Plugins/DOTween/Editor/DOTweenEditor.pdb.meta
ProjectSettings/ClusterInputManager.asset
ProjectSettings/UnityConnectSettings.asset

#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
test local notification.apk
